<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.type12()[pri:13, instance:metabaseMain.MainClass@55de24cc]">type12</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.MultipleEntry()[pri:26, instance:metabaseMain.MainClass@55de24cc]">MultipleEntry</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Loan04()[pri:4, instance:metabaseMain.MainClass@55de24cc]">Loan04</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.LOC05()[pri:5, instance:metabaseMain.MainClass@55de24cc]">LOC05</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Loc08()[pri:8, instance:metabaseMain.MainClass@55de24cc]">Loc08</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Debit02()[pri:2, instance:metabaseMain.MainClass@55de24cc]">Debit02</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>99</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Accexist()[pri:19, instance:metabaseMain.MainClass@55de24cc]">Accexist</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:59</td>   <td>214</td> <td>&nbsp;</td><td title="&lt;&lt;MainClass.CloseBrowser()[pri:0, instance:metabaseMain.MainClass@55de24cc]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Diff()[pri:25, instance:metabaseMain.MainClass@55de24cc]">Diff</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.borrower03()[pri:3, instance:metabaseMain.MainClass@55de24cc]">borrower03</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.BorrowerBankAccount()[pri:21, instance:metabaseMain.MainClass@55de24cc]">BorrowerBankAccount</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.BorrwerCashFlow()[pri:22, instance:metabaseMain.MainClass@55de24cc]">BorrwerCashFlow</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Invcf1()[pri:24, instance:metabaseMain.MainClass@55de24cc]">Invcf1</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.id16()[pri:17, instance:metabaseMain.MainClass@55de24cc]">id16</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Investor06()[pri:6, instance:metabaseMain.MainClass@55de24cc]">Investor06</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.LOCDOesNotExist009()[pri:9, instance:metabaseMain.MainClass@55de24cc]">LOCDOesNotExist009</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.type14()[pri:15, instance:metabaseMain.MainClass@55de24cc]">type14</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Invdne10()[pri:11, instance:metabaseMain.MainClass@55de24cc]">Invdne10</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.loan07()[pri:7, instance:metabaseMain.MainClass@55de24cc]">loan07</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:55</td>   <td>-3386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.query01()[pri:1, instance:metabaseMain.MainClass@55de24cc]">query01</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.IDNull()[pri:20, instance:metabaseMain.MainClass@55de24cc]">IDNull</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.type13()[pri:14, instance:metabaseMain.MainClass@55de24cc]">type13</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>82</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.AccDoes17()[pri:18, instance:metabaseMain.MainClass@55de24cc]">AccDoes17</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Id_Pattern15()[pri:16, instance:metabaseMain.MainClass@55de24cc]">Id_Pattern15</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:50</td>   <td>-8503</td> <td>&nbsp;</td><td title="&gt;&gt;MainClass.openchrome()[pri:0, instance:metabaseMain.MainClass@55de24cc]">&gt;&gt;openchrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Investorcashflow()[pri:23, instance:metabaseMain.MainClass@55de24cc]">Investorcashflow</td> 
  <td>main@1989811701</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>22/04/11 11:01:58</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.type11()[pri:12, instance:metabaseMain.MainClass@55de24cc]">type11</td> 
  <td>main@1989811701</td>   <td></td> </tr>
</table>
